<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ikkarus.coint" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Coint</name>
    <description>Calculadora de juros compostos</description>
    <author email="bene.rogerio@hotmail.com">
        Rogerio Bene
    </author>
    <hook src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" type="after_prepare" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <engine name="android" />
</widget>
